.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navi{
  margin-top: 2vh;
  margin-bottom: 3vh;
  margin-left: 1vh;
  height: 95vh;
}

.nav-routes {
  width: 14vw;
}

.example-header-image {
  background-size: cover;
}
